body{
    background-color: black;
    color: white;
}

#main{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main h1{
    font-size: 10em;
    font-weight: bold;
    font-family: monospace;
}

.crsr{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(74, 200, 246);
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.05s;
}