#CountLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    margin : 50px 0;
}

#btnContainer{
    text-align: center;
}

.button{
    font-size: 2rem;
    border-radius: 5px;
    background-color: hsla(216, 100%, 61%, 0.739);
    color: white;
    transition: background-color 0.25s;
    cursor: pointer;
}

button:hover{
    background-color: hsl(220, 87%, 52%);
}