body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(4, 24, 52, 0.976);
    color: white;
}

h1{
    font-size: 3.5rem;
    color: rgb(240, 253, 165);
}

#choices{
    margin-bottom: 30px;
}

button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgba(60, 230, 242, 0.692);
    transition: background-color 0.3s ease;
}
#choices button:hover{
    background-color: rgb(13, 235, 255);
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin-top: 20px;
}
.scoreDisplay{
    font-size: 2rem;
    margin-top: 20px;
}

.greenText, #playerScore{
    color: rgba(10, 216, 10, 0.922);
}
.redText, #computerScore{
    color: rgba(250, 0, 0, 0.896);
}